body {
  padding-left: 20px;
}

h1 {
  color: red;
}

h6 {
  font-size: 19px;
  margin: 0;
}

button {
  border-radius: 7px;
  border: none;

  background-color: green;
  color: white;

  padding: 7px;
  margin-top: 5px;
}

label {
  font-weight: bold;
}

ul {
  list-style-type: none;
}

input {
  line-height: 2;
  padding: 0 5px 0 5px;
  border-radius: 3px;
  border: 1px solid black;
  box-shadow: none;
  padding: 0 5px 0 5px;
}
input:focus {
  outline: none;
}

#navbar {
  margin-top: 17px;
}
#message-input > button {
  background-color: red;
  color: white;
  border: none;
}
