<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="styles/global.css" rel="stylesheet">
    <link href="styles/colors.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/jetbrains-mono@1.0.6/css/jetbrains-mono.min.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" >
    <script src="js/htmx.min.js"></script>
  </head>
  <body>
    <div id="main-body">
      <h1>Welcome, {{or .User.Name "Stranger"}}!</h1>
      <hr />
      <h2><b>Global Messageboard</b><span class="comment hide-sm">{ feel free to join in! }</span></h2>
      {{template "messageboard" .}}
      <h2 class="hide-lg"><span class="comment">{feel free to join in}</span></h2>
    </div>
    {{template "nav" .User}}
  </body>
</html>
